body {
    background-color: #919db4;
    font-family: Comic Sans MS", "Comic Sans", cursive;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color:  rgb(46, 15, 158);
    text-align: center;
}

h2 {
    color: #085e56;
}

img {
    width: 250px;
}
